<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragment/header.html :: my-header"/>
    <title>Login page</title>
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"/>
<div class="container"
     style="
        margin:10rem;
">


    <form action="/auth/login" method="post">
        <!--        <div th:if="${loginError}" class="alert alert-danger" role="alert">Wrong user or password</div>-->
        <div class="mb-3">
            <label for="memberId" class="form-label">Id</label>
            <input type="text" class="form-control" id="memberId" name="memberId">
<!--            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>
        <button id="signin_btn" type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>
</body>
</html>