<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="my-header">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css"/>
        <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">

        <script th:src="@{/node_modules/ol/dist/ol.js}"></script>
        <script type="text/javascript"
                th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId='+${@environment.getProperty('naver.client.id')}+'&submodules=panorama'"></script>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css">


        <!--        custom css -->
        <link rel="stylesheet" th:href="@{/css/roadview/index.css}"/>
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/poi.css}"/>
    </th:block>
</head>
<body>

</body>
</html>