<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar px-2" style="height: 66px; margin-bottom: 5px" th:fragment="my-navbar">
    <div class="d-flex">
        <a href="#" class="home-side-bar-toggle-btn"><i class="bi bi-list fs-1 fw-bold icon-link-hover"></i></a>
        <a href="/home" th:href="@{/}" class="navbar-brand">Postgis Project</a>
    </div>
    <script>
        var siderToggleBtn = document.querySelector(".home-side-bar-toggle-btn")
        siderToggleBtn.addEventListener('click', (event) => {
            event.preventDefault()
            var homeSider = document.querySelector('.home-side-bar')
            if (homeSider.classList.contains("d-none"))
                homeSider.classList.remove('d-none')
            else
                homeSider.classList.add("d-none")
        })
    </script>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" th:href="@{/}">지도</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">경로</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/route/find" th:href="@{/route/find}">경로찾기</a></li>
                <li><a class="dropdown-item" href="/route/list" th:href="@{/route/list}">저장한 경로</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="/poi/manage" role="button">
                POI
            </a>
        </li>
    </ul>
    <ul class="">
        <div sec:authorize="${hasAnyRole('ROLE_user','ROLE_admin')}">
            <li>
                <a href="/user/sign-up" th:href="@{/logout}" class="btn btn-secondary">로그아웃</a>
            </li>
            <th:block sec:authorize="hasRole('ROLE_user')" th:text="${#authentication.getName()}"></th:block>
        </div>
        <div sec:authorize="${not hasAnyRole('ROLE_user','ROLE_admin')}" class="d-flex gap-2">
            <li>
                <a href="/user/sign-in" th:href="@{/signIn}" class="btn btn-primary">로그인</a>
            </li>
            <li>
                <a href="/user/sign-up" th:href="@{/signUp}" class="btn btn-secondary">회원가입</a>
            </li>
        </div>
    </ul>
</nav>
</body>
</html>