<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="row position-absolute text-end mt-1 me-1 rounded-3 w-100 " th:fragment="my-searh-option"
     style="z-index: 1; right: 0; margin:0">
  <div class="col col-3 d-flex flex-column align-items-center justify-content-between " style="">
    <div><strong>검색어</strong></div>
    <input id="poi-search-input-text" class="form-control" type="text" name="inputText"/>
  </div>
  <div id="cate-code" class="d-none"></div>
  <div class="col d-flex flex-column align-items-center">
    <div><strong>1차 분류</strong></div>
    <select name="largeClassId" id="cate-1" class="form-select rounded-5" aria-label="Default select example">
      <option  selected value>None</option>
    </select>
  </div>
  <div class="col d-flex flex-column align-items-center">
    <div class="" id=""><strong>2차 분류</strong></div>
    <select name="middleClassId" id="cate-2" class="form-select rounded-5 " aria-label="Default select example">
      <option  selected value>None</option>

    </select>
  </div>
  <div class="col d-flex flex-column align-items-center">
    <div class=""><strong>3차 분류</strong></div>
    <select name="smallClassId" id="cate-3" class="form-select rounded-5 " aria-label="Default select example">
      <option  selected value>None</option>

    </select>
  </div>
  <div class="col d-flex flex-column align-items-center">
    <div class=""><strong>4차 분류</strong></div>
    <select name="detailClassId" id="cate-4" class="form-select rounded-5 " aria-label="Default select example">
      <option  selected value>None</option>
    </select>
  </div>
  <div class="col d-flex flex-column align-items-center">
    <div class=""><strong>5차 분류</strong></div>
    <select name="bottomClassId" id="cate-5" class="form-select rounded-5 " aria-label="Default select example">

      <option  selected value>None</option>

    </select>
  </div>
  <script type="module" src="/js/category/index.js"></script>
</div>


</body>
</html>