<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>save POI page</title>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />

</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>

<div class="container pt-4 g-2">
    <form>
        <div class="row">
            <label for="poi-name" class="form-label">
                POI 이름
            </label>
            <input type="text" class="form-control" id="poi-name" placeholder="poiname"/>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-md-2 d-flex flex-column align-items-center">
                <div class="mb-3">1차 분류</div>
                <select class="form-select rounded-5 " aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3 col-md-2 d-flex flex-column align-items-center">
                <div class="mb-3 ">2차 분류</div>
                <select class="form-select rounded-5 " aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3 col-md-2 d-flex flex-column align-items-center">
                <div class="mb-3">3차 분류</div>
                <select class="form-select rounded-5 " aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3 col-md-2 d-flex flex-column align-items-center">
                <div class="mb-3">4차 분류</div>
                <select class="form-select rounded-5 " aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3 col-md-2 d-flex flex-column align-items-center">
                <div class="mb-3">5차 분류</div>
                <select class="form-select rounded-5 " aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-label">전화번호</div>
            <input class="form-control" type="text" placeholder="010-0000-0000">
        </div>
        <div class="row">
            <label for="poi-description">POI부가설명</label>
            <textarea class="form-control" id="poi-description" rows="3"></textarea>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">이미지 추가하기</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </div>
        <div style="width: 5rem; height: 5rem; background-color: gray">
            <div style="width: 5rem; height: 5rem; background-color: gray">
            </div>
        </div>
        <div class="row" id="myMap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a data-bs-toggle="collapse" href="#selectMap1" role="button">주소로 찾기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a data-bs-toggle="collapse" href="#selectMap2" role="button">맵에서 지정하기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a data-bs-toggle="collapse" href="#selectMap3" role="button">좌표 입력하기</a>
                    </li>
                </ol>
            </nav>
            <div>
                <div class="collapse" id="selectMap1" data-bs-parent="#myMap">hello Wolrd1</div>
                <div class="collapse" id="selectMap2" data-bs-parent="#myMap">hello Wolrd2</div>
                <div class="collapse" id="selectMap3" data-bs-parent="#myMap">
                    <form>
                        <label for="lon">lontitude</label>
                        <input id="lon" type="number" class="form-control"/>
                        <label for="lat">latitude</label>
                        <input id="lat" type="number" class="form-control"/>
                        <button class="btn btn-primary" type="submit"> 주소 찾기</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary mt-3 w-25" type="submit">저장하기</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>