@import "ol/ol.css";
@import "route/index.css";

* {
    font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#map {
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
}
fs-0{
    font-size:12px;
}