@import "route/index.css";

* {
    font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#map {
    position:relative;
    z-index: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

fs-0 {
    font-size: 12px;
}

.my-slider {
    max-width: 350px;
}

.research-btn {
    position: absolute;
    z-index: 10;
    top: 90px;
    left: 50%;
}