<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>
<div class="container">
    <!--    삭제 Action bar-->
    <div class="row justify-content-between">
        <button id="route-delete-btn" class="btn btn-danger col-sm-1 col-1 text-nowrap">삭제</button>
        <ul class="pagination col-3 col-sm-3 ">

        </ul>
    </div>
    <!--    route Table Space-->
    <div class="row">
        <table class="table table-striped text-nowrap">
            <thead>
            <tr class="text-nowrap">
                <th scope="col">
                    <input type="checkbox" id="all-check"/>
                </th>
                <th scope="col">
                    경로 아이디
                </th>
                <th scope="col">
                    경로이름
                </th>
                <th scope="col">
                    설명
                </th>
                <th scope="col">
                    생성 일
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="module" th:src="@{/js/route/list/handle.js}" ></script>
<script type="module" th:src="@{/js/route/list/index.js}" ></script>
<script type="module" th:src="@{/js/route/api.js}"></script>
<script type="module" th:src="@{/js/common/pagination.js}"></script>
</body>
</html>