<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>
<div class="row justify-content-center">
    <div class="col-3 col-md-2 d-flex flex-column align-items-center">
        <div class="mb-3">1차 분류</div>
        <select class="form-select rounded-5 " aria-label="Default select example">
            <option selected>None</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-3 col-md-2 d-flex flex-column align-items-center">
        <div class="mb-3 ">1차 분류</div>
        <select class="form-select rounded-5 " aria-label="Default select example">
            <option selected>None</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-3 col-md-2 d-flex flex-column align-items-center">
        <div class="mb-3">1차 분류</div>
        <select class="form-select rounded-5 " aria-label="Default select example">
            <option selected>None</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-3 col-md-2 d-flex flex-column align-items-center">
        <div class="mb-3">1차 분류</div>
        <select class="form-select rounded-5 " aria-label="Default select example">
            <option selected>None</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<div class="container">
    <div class="row justify-content-between">
        <button class="btn btn-danger col-sm-1 col-1 text-nowrap">삭제</button>
        <ul class="pagination col-3 col-sm-3 ">
            <li class="page-item">
                <a href="#" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <table class="table table-striped text-nowrap">
            <thead>
            <tr class="text-nowrap">
                <th scope="col">
                    체크박스
                </th>
                <th scope="col">
                    경로 아이디
                </th>
                <th scope="col">
                    경로이름
                </th>
                <th scope="col">
                    출발 위치
                </th>
                <th scope="col">
                    도착 위치
                </th>
                <th scope="col">
                    생성 일
                </th>
                <th scope="col">
                    지도로 가기
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>
                    <a href="./detail/index.html" th:href="@{/route/detail/1}">
                        1
                    </a>
                </td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>1</td>
                <td>제이비티에서 강남역 2번출구로 가는 길</td>
                <td>제이비티</td>
                <td>강남역 2번 출구</td>
                <td>2020-10-10</td>
                <td>
                    <button class="btn btn-secondary">지도로 가기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>