<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>경로찾기</title>
    <th:block th:insert="/fragment/header.html :: my-header"/>
    <link rel="stylesheet" href="/css/sider.css"/>
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"/>
<div class="d-flex my-container" style="    height: calc(100% - 71px);">
    <div class="home-side-bar position-relative d-none">
        <div class="d-flex justify-content-between" style="
        background: #dddddd;
        position: sticky;
        top: -7.5px;
">
            <div>
                <button class="btn btn-secondary" onclick="history.back()">
                    <i class="bi bi-backspace"></i>
                </button>

            </div>
            <div>
                <button type="button" class="btn btn-outline-primary fw-bold" id="route-list-btn">
                    경로 <i class="bi bi-sign-turn-right"></i>
                </button>
                <button type="button" class="btn btn-primary fw-bold" id="poi-list-btn">
                    지점 <i class="bi bi-shop-window"></i>
                </button>
            </div>
        </div>
        <!--        시작-->
        <th:block th:replace="/fragment/side-bar.html :: poi-list-side-bar"/>
        <th:block th:replace="/fragment/side-bar.html :: route-list-side-bar"/>
    </div>
    <div class="col position-relative">
        <th:block th:replace="/fragment/zido-search-option.html :: my-searh-option "></th:block>
        <div id="map" class="col">
            <button id="current-position-research-btn" type="button"
                    class="research-btn btn btn-primary d-inline-block">
                현재 위치 재검색<i class="bi bi-repeat fs-5 d-inline-block ms-2"></i>
            </button>
        </div>
    </div>

</div>
<div id="pano-box" class="d-none">
    <button class="btn js-pano-close ">
        <i class="bi bi-x-lg"></i>
    </button>
    <pano-element coord="127.1051814,37.3519605"></pano-element>
    <ul class="pano-footer">
        <li>
            <img src="/images/img.png"/>
            <div class="content">
                <div>판교 어린이</div>
                <p>어린이집</p>
            </div>
        </li>
    </ul>
</div>
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<save-modal-element key="exampleModalCenter"></save-modal-element>

<script src="/js/OlMap.js"></script>
<script type="module" src="/js/poi/sidebar/handle.js" defer></script>
<script type="module" src="/js/poi/sidebar/index.js" defer></script>
<script type="module" src="/js/poi/index.js"></script>
<script src="/js/home/marker.js"></script>
<script src="/js/home/popup.js"></script>
<script src="/js/index.js"></script>

<script src="/js/common/util.js" defer></script>
<script src="/js/poi/api/poi.js"></script>
<script src="/js/home/image.js"></script>

<script type="module" src="/js/pano/index.js"></script>
<th:block th:replace="/fragment/footer.html :: my-footer"></th:block>
</body>
</html>
