<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>경로찾기</title>
    <th:block th:insert="/fragment/header.html :: my-header"/>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/sider.css"
          th:href="@{/css/sider.css}"/>
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"/>
<div class="d-flex my-container" style="    height: calc(100% - 71px);">
    <div class="home-side-bar position-relative d-none">
        <div class="d-flex justify-content-between" style="
        background: #dddddd;
        position: sticky;
        top: -7.5px;
">
            <div>
                <button class="btn btn-secondary" onclick="history.back()">
                    <i class="bi bi-backspace"></i>
                </button>

            </div>
            <div>
                <button type="button" class="btn btn-outline-primary" id="route-list-btn">
                    <i class="bi bi-sign-turn-right"></i>
                </button>
                <button type="button" class="btn btn-primary" id="poi-list-btn">
                    <i class="bi bi-shop-window"></i>
                </button>
            </div>
        </div>
        <!--        시작-->
        <th:block th:replace="/fragment/side-bar.html :: poi-list-side-bar"/>
        <th:block th:replace="/fragment/side-bar.html :: route-list-side-bar"/>
    </div>
    <div class="col position-relative">
        <th:block th:replace="/fragment/zido-search-option.html :: my-searh-option "></th:block>
        <div id="map" class="col">
            <button id="current-position-research-btn" type="button" class="research-btn">
                <i class="bi bi-repeat fs-3"></i>
            </button>
        </div>
    </div>
</div>
<!--<th:block th:replace="/fragment/footer.html :: my-content"></th:block>-->

<script th:src="@{js/handle/side_bar.js}" defer></script>
<script th:src="@{/js/api/poi.js}"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/image.js}"></script>

</body>
</html>
