<!DOCTYPE html>
<html lang="en">
<title>Title</title>
<head>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>
<th:block th:replace="/fragment/search-option-bar.html :: my-searh-option"></th:block>
<div class="container">
    <div class="row justify-content-between">
        <button class="btn btn-danger col-sm-1 col-1 text-nowrap">삭제</button>
        <a th:href="@{/poi/save}" class="btn btn-info col-sm-1 col-1 text-nowrap">추가</a>
        <ul class="pagination col-3 col-sm-3 ">
            <li class="page-item">
                <a href="#" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <table class="table table-striped text-nowrap">
            <thead>
            <tr class="text-nowrap">
                <th scope="col">
                    체크박스
                </th>
                <th scope="col">
                    POI이름
                </th>
                <th scope="col">
                    1차분류
                </th>
                <th scope="col">
                    2차분류
                </th>
                <th scope="col">
                    3차분류
                </th>
                <th scope="col">
                    4차분류
                </th>
                <th scope="col">
                    전화번호
                </th>
                <th scope="col">
                    지역
                </th>
                <th scope="col">
                    수정하기
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><input type="checkbox"></input></th>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/api/categoryApi.js}"></script>
<script th:src="@{/js/handle/category.js}"></script>
</body>
</html>