<!DOCTYPE html>
<html lang="en">
<title>Title</title>
<head>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
    <link rel="stylesheet" href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>
<div class="container">
    <th:block th:replace="/fragment/search-option-bar.html :: my-searh-option"></th:block>
    <div class="row justify-content-between">
        <div class="d-flex justify-content-between my-2">
            <button id="poi-delete-btn" class="btn btn-danger col-sm-1 col-1 text-nowrap">삭제</button>
            <a th:href="@{/poi/save}" class="btn btn-info col-sm-1 col-1 text-nowrap">추가</a>
        </div>
        <div class="d-flex justify-content-end">
            <ul class="pagination col-3 col-sm-3 ">
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped text-nowrap  " style="vertical-align: center">
            <thead>
            <tr class="text-nowrap">
                <th scope="col">
                    <input type="checkbox" class="js-all-checked"/>
                </th>
                <th scope="col">
                    POI이름
                </th>
                <th scope="col">
                    1차분류
                </th>
                <th scope="col">
                    2차분류
                </th>
                <th scope="col">
                    3차분류
                </th>
                <th scope="col">
                    4차분류
                </th>
                <th scope="col">
                    5차분류
                </th>
                <th scope="col">
                    전화번호
                </th>
                <th scope="col">
                    수정하기
                </th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <!--                poi row field -->
            </tbody>
        </table>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="modal-poi-id" >poi id</label>
                <input id="modal-poi-id"  type="text" class="form-control disabled"/>
                <label for="modal-poi-name">poi name</label>
                <input id="modal-poi-name" type="text" class="form-control"/>
                <label for="modal-poi-telNo">poi telNo</label>
                <input id="modal-poi-telNo" type="text" class="form-control"/>
                <label for="modal-poi-description">poi description</label>
                <input id="modal-poi-description" type="text" class="form-control"/>
                <div id="map"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/poi/list/index.js"></script>
</body>
</html>