<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>save POI page</title>
    <th:block th:insert="/fragment/header.html :: my-header"></th:block>
</head>
<body>
<th:block th:replace="/fragment/nav.html :: my-navbar"></th:block>
<div class="container pt-4 g-2">
    <form id="saveForm">
        <div class="row">
            <label for="poi-name" class="form-label">
                POI 이름
            </label>
            <input name="name" type="text" class="form-control" id="poi-name" placeholder="poiname"/>
        </div>
        <div class="row justify-content-center" th:replace="/fragment/search-option-bar.html :: my-searh-option">
        </div>
        <div class="row">
            <div class="form-label">전화번호</div>
            <input name="telNo" class="form-control" type="text" placeholder="010-0000-0000">
        </div>
        <div class="row">
            <label for="poi-description">POI부가설명</label>
            <textarea name="description" class="form-control" id="poi-description" rows="3"></textarea>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">이미지 추가하기</label>
                <input name="images" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </div>
        <div style="width: 5rem; height: 5rem; background-color: gray">
            <div style="width: 5rem; height: 5rem; background-color: gray">
            </div>
        </div>
        <div class="row" id="myMap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a data-bs-toggle="collapse" href="#selectMap1" role="button">주소로 찾기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a data-bs-toggle="collapse" href="#selectMap2" role="button">맵에서 지정하기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a data-bs-toggle="collapse" href="#selectMap3" role="button">좌표 입력하기</a>
                    </li>
                </ol>
            </nav>
            <div>
                <div class="collapse" id="selectMap1" data-bs-parent="#myMap">hello Wolrd1</div>
                <div class="collapse" id="selectMap2" data-bs-parent="#myMap" style="height: 900px;width: 900px;">
                </div>
                <div class="collapse" id="selectMap3" data-bs-parent="#myMap">
                    <form>
                        <label for="lon">lontitude</label>
                        <input id="lon" type="number" class="form-control"/>
                        <label for="lat">latitude</label>
                        <input id="lat" type="number" class="form-control"/>
                        <button class="btn btn-primary" type="submit"> 주소 찾기</button>
                    </form>
                </div>
            </div>
            <div id="poi_map" style="height: 500px;width: 500px;"></div>
            <div class="row justify-content-end">
                <button class="btn btn-primary mt-3 w-25" id="submitBtn" type="submit">저장하기</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/node_modules/ol/dist/ol.js" th:src="@{/node_modules/ol/dist/ol.js}"></script>
<script>

  </script>
<script type="module" th:src="@{/js/savePoiMap.js}"></script>
</body>
</html>